# Fichiers et dossiers générés par les IDE
.idea/
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Fichiers de build
**/[Bb]in/
**/[Oo]bj/
**/[Dd]ebug/
**/[Rr]elease/

# Résultats de tests
TestResults/
*.testlog

# Fichiers de publication
**/publish/

# Dépendances NuGet
packages/
*.nupkg
*.snupkg

# Fichiers temporaires et logs
*.log
*.tmp
*.bak

# Fichiers système
.DS_Store
Thumbs.db
